{% extends '@App/base.html.twig' %}

{% set teal_deg = (((session_number-1)/6)*360)|round(2) %}

{% set teal_deg_left = -180 %}
{% set teal_deg_right = -180 %}

{% if teal_deg >= 180 %}
  {% set teal_deg_right = 0 %}
  {% set teal_deg_left = -180+(teal_deg-180) %}
{% else %}
  {% set teal_deg_right = -180+(teal_deg) %}
{% endif %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@AppBundle/Resources/assets/local/scss/accountLayout.scss'
        '@AppBundle/Resources/assets/local/scss/accountDashboard.scss'
        filter='cssrewrite' 
        filter='?uglifycss' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    
    <style type="text/css">
      .pie-semi-crop.left > .slice {
        -moz-transform: rotate({{ teal_deg_left }}deg);
        -ms-transform: rotate({{ teal_deg_left }}deg);
        -webkit-transform: rotate({{ teal_deg_left }}deg);
        -o-transform: rotate({{ teal_deg_left }}deg);
        transform:rotate({{ teal_deg_left }}deg);
      }
      .pie-semi-crop.right > .slice {
        -moz-transform: rotate({{ teal_deg_right }}deg);
        -ms-transform: rotate({{ teal_deg_right }}deg);
        -webkit-transform: rotate({{ teal_deg_right }}deg);
        -o-transform: rotate({{ teal_deg_right }}deg);
        transform:rotate({{ teal_deg_right }}deg);
      }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/assets/local/js/accountDashboard.js'
        filter='?uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<div class="container-fluid h-100 page">
    <table class="page-table">
      <tbody>
        <tr>
          <td class="dashboard-top">
            <div class="container-fluid h-100">
              <table class="page-table">
                <tbody>
                  <tr>
                    <td>
                      {% set flashes = app.session.flashbag.all() %}
                      {% if flashes | length > 0 %}
                        <div class="row no-gutters session-notices">
                          <div class="col-12">
                          {% for type, messages in flashes %}
                              {% for message in messages %}
                                  <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                      </button>
                                      <strong>{{ message }}</strong>
                                  </div>
                              {% endfor %}
                          {% endfor %}
                          </div>
                        </div>
                      {% endif %}
                      <div class="row header-row">
                        <div class="col text-center">
                          <img src="{{ asset('bundles/app/svg/logo.svg') }}" class="logo" alt="Stop Smoking Advisor Logo" />
                          <div class="settings-dropdown">
                            <div class="dropdown">
                              <a href="#" class="settings-cog" id="dropdownSettingsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Settings</span>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownSettingsMenu">
                                <a class="dropdown-item" href="{{ path('account_settings') }}">Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Logout</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="h-100 dashboard-feature-content text-center">
                      {% if session_available %}
                      <h1>{{ session_number > 1 ? 'Welcome Back!' : 'Ready to try and quit?' }}</h1>
                      <h2>Your {{ session_number > 1 ? 'next' : 'first' }} session is {{ session_started ? 'still' : 'now' }} available</h2>

                      <a href="{{ path('account_session') }}" class="btn btn-lg btn-success btn-start">{{ session_started ? 'Continue' : 'Start Now' }} <img class="next-icon" src="{{ asset('bundles/app/svg/next.svg') }}" alt="Continue to session" /></a>
                      {% elseif session_expired %}
                      <h1>Oh No!</h1>
                      <h2>Session {{ session_number }} expired on {{ session_expired_date }}.</h2>
                      <h2 class="text-next-session">Remember: Each session is only available for 1 week after it unlocks.</h2>
                      <a href="{{ path('account_restart') }}" class="btn btn-lg btn-success btn-start">Start Again <img class="next-icon" src="{{ asset('bundles/app/svg/next.svg') }}" alt="Restart Stop Smoking Advisor" /></a>
                      {% else %}
                      <h1>Great job!<br />
                      You've finished session {{ session_number-1 }}</h1>
                      <h2 class="text-next-session">Your next session: {{ session_available_date }}</h2>
                      <h3 class="reminder-info">{{ reminder_emails ? 'You will receive a reminder email' : 'Please be aware you will not receive a reminder email' }} <a href="{{ path('account_settings') }}">(change)</a></h3>
                      {% endif %}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        <tr>
          <td class="dashboard-bottom">
            <div class="container-fluid h-100">
              <div class="row h-100">
                <div class="col-md-6 dashboard-progress">
                  <div class="row h-100">
                    <div class="col-12 align-self-center dashboard-bottom-box-pad">
                      {% if session_number > 1 %}
                      <div class="progress-initial">
                        <div class="dashboard-bottom-image">
                          <div class="pie" data-deg="{{ teal_deg }}">
                            <div class="pie-semi-crop right">
                              <div class="slice"></div>
                            </div>
                            <div class="pie-semi-crop left">
                              <div class="slice"></div>
                            </div>
                          </div>
                        </div>
                        <div class="dashboard-bottom-info">
                          <h4 class="small">sessions completed</h4>
                          <h3 class="large">{{ session_number-1 }}/6</h3>
                        </div>
                      </div>
                      {% else %}
                      <div class="progress-initial">
                        <div class="dashboard-bottom-image">
                          <img src="{{ asset('bundles/app/svg/default_progress.svg') }}" alt="Progress pie chart illustration" />
                        </div>
                        <div class="dashboard-bottom-info">
                          <h3>Your Progress</h3>
                          <h4>This will be shown after the first session</h4>
                        </div>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="col-md-6 dashboard-savings">
                  <div class="row h-100">
                    <div class="col-12 align-self-center dashboard-bottom-box-pad">
                      <div class="savings-initial">
                        <div class="dashboard-bottom-image">
                          <img src="{{ asset('bundles/app/svg/coin.svg') }}" alt="Piggy Bank Coin" class="piggy-coin" />
                          <img src="{{ asset('bundles/app/svg/piggy.svg') }}" alt="Piggy Bank" class="piggy" />
                        </div>
                        <div class="dashboard-bottom-info">
                          {% if weekly_spend and quit_date %}
                            {% set difference = date().diff(date(quit_date)) %}
                            {% set secondsPassed = difference.s+(difference.i*60)+(difference.h*60*60) %}
                            {% set weeksPassed = secondsPassed/60/60/24/7 %}
                            <h4 class="small">savings so far</h4>
                            <h3 class="large">&pound;{{ (weeksPassed*weekly_spend)|number_format(2) }}</h3>
                          {% else %}
                            <h3>Savings Calculator</h3>
                            <h4>Savings will appear when available</h4>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
</div>
{% endblock %}
