{% macro faq(question, answer) %}
  <input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value|e }}" size="{{ size|default(20) }}" />
{% endmacro %}

<div class="modal fade faq-modal" id="faqModal" tabindex="-1" role="dialog" aria-labelledby="faqModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="faqModalLabel">Frequently Asked Questions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="faqAccordion">
        {% for counter,faq in faqs|default([]) %}
          <div class="card">
            <div class="card-header" id="heading{{ counter }}">
              <h6 class="mb-0">
                <button class="btn btn-link btn-block text-left font-weight-bold"
                        data-toggle="collapse"
                        data-target="#faq{{ counter }}"
                        aria-expanded="false"
                        aria-controls="faq{{ counter }}">
                  {{ faq.question }}
                </button>
              </h6>
            </div>
            <section id="faq{{ counter }}" class="collapse" aria-labelledby="heading{{ counter }}" data-parent="#faqAccordion">
              <div class="card-body">
                {{ faq.answer|raw }}
              </div>
            </section>
          </div>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
