{% extends '@App/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@AppBundle/Resources/assets/local/scss/accountLayout.scss'
        '@AppBundle/Resources/assets/local/scss/accountSettings.scss'
        filter='cssrewrite' 
        filter='?uglifycss' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{#% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/assets/local/js/accountSession.js'
        filter='?uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %#}

{% block body %}

<div class="container-fluid">
  {% set flashes = app.session.flashbag.all() %}
  {% if flashes | length > 0 %}
    <div class="row no-gutters session-notices">
      <div class="col-12">
      {% for type, messages in flashes %}
          {% for message in messages %}
              <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  <strong>{{ message }}</strong>
              </div>
          {% endfor %}
      {% endfor %}
      </div>
    </div>
  {% endif %}

  <div class="row no-gutters session-header-row">
    <div class="col-12">
      <span class="logo-header">
        <h1>Settings</h1>
      </span>
      <a href="{{ path('account_dashboard') }}" class="exit-link">Back to Dashboard</a>
    </div>
  </div>

  <div class="row session-content-row">
    <h3>Email</h3>
    <p>Coming soon...</p>
    <hr />
    <h3>Password</h3>
    <p>Coming soon...</p>
    <hr />
    <h3>Reminder Notifications</h3>
    <p>Coming soon...</p>
    <hr />
    <h3 class="restart">Start Again?</h3>
    <p>
      <a href="{{ path('account_restart') }}" class="btn btn-lg btn-success btn-start restart">Reset Stop Smoking Advisor</a>
    </p>
  </div>
</div>
{% endblock %}