{% extends '@App/base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@AppBundle/Resources/assets/local/scss/accountLayout.scss'
        '@AppBundle/Resources/assets/local/scss/accountSettings.scss'
        filter='cssrewrite' 
        filter='?uglifycss' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/assets/local/js/accountSettings.js'
        filter='?uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}

<div class="container-fluid">
  {% set flashes = app.session.flashbag.all() %}
  {% if flashes | length > 0 %}
    <div class="row no-gutters session-notices">
      <div class="col-12">
      {% for type, messages in flashes %}
          {% for message in messages %}
              <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  <strong>{{ message }}</strong>
              </div>
          {% endfor %}
      {% endfor %}
      </div>
    </div>
  {% endif %}

  <div class="row no-gutters session-header-row">
    <div class="col-12">
      <span class="logo-header">
        <h1>Settings</h1>
      </span>
      <a href="{{ path('account_dashboard') }}" class="exit-link">Back to Dashboard</a>
    </div>
  </div>

  <div class="row session-content-row">
    <div class="col-12">
      <div class="row">
        <h3>Email</h3>
        {{ form_start(form_email, { 'action': path('account_settings'), 'attr': { 'class': 'col-12', 'id': 'new_email_form' } }) }}
          <div class="form-group row justify-content-center">
            <div class="col-md-auto">
              {{ form_widget(form_email.email, {'attr': {'class': 'form-control-lg', 'placeholder': 'Current Password', 'autocomplete': 'off'} }) }}
              {% if not form_email.email.vars.valid %}
                <span class="form-text text-danger">{{ form_errors(form_email.email) }}</span>
              {% endif %}
              {% if email_new %}
              <span class="form-text text-mutes">
                You have requested to change your email to <strong><span id="new_email">{{ email_new }}</span></strong><br />
                A verification email has been sent. <a href="#" id="resend_email_confirmation">Resend</a>
              </span>
              {% endif %}
            </div>
          </div>
          <div class="row justify-content-center">
            <button type="submit" class="col-md-auto btn btn-lg btn-success">Update Email</button>
          </div>
        {{ form_end(form_email) }}
      </div>
      <hr />
      <div class="row">
        <h3 class="col-12">
          Password
        </h3>
        {{ form_start(form_password, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'col-12' } }) }}
          <div class="form-group row justify-content-center">
            <div class="col-md-auto">
              {{ form_widget(form_password.current_password, {'attr': {'class': 'form-control-lg', 'placeholder': 'Current Password', 'autocomplete': 'off'} }) }}
              {% if not form_password.current_password.vars.valid %}
                <span class="form-text text-danger">{{ form_errors(form_password.current_password) }}</span>
              {% endif %}
            </div>
          </div>
          <div class="form-group row justify-content-center">
            <div class="col-md-auto">
              {{ form_widget(form_password.plainPassword.first, {'attr': {'class': 'form-control-lg', 'placeholder': 'New Password', 'autocomplete': 'off'} }) }}
              {% if not form_password.plainPassword.first.vars.valid %}
                <span class="form-text text-danger">{{ form_errors(form_password.plainPassword.first) }}</span>
              {% endif %}
            </div>
          </div>
          <div class="form-group row justify-content-center">
            <div class="col-md-auto">
              {{ form_widget(form_password.plainPassword.second, {'attr': {'class': 'form-control-lg', 'placeholder': 'Repeat New Password', 'autocomplete': 'off'} }) }}
              {% if not form_password.plainPassword.second.vars.valid %}
                <span class="form-text text-danger">{{ form_errors(form_password.plainPassword.second) }}</span>
              {% endif %}
              <small id="passwordHelp" class="form-text password-help">
                  <strong>Passwords must include at least:</strong>
                  <ul>
                      <li id="pw-letter"><span class="list-tick"></span> <span class="list-text">1 letter</span></li>
                      <li id="pw-number"><span class="list-tick"></span> <span class="list-text">1 number</span></li>
                      <li id="pw-6"><span class="list-tick"></span> <span class="list-text">6 characters</span></li>
                  </ul>
              </small>
            </div>
          </div>

          <div class="row justify-content-center">
            <button type="submit" class="col-md-auto btn btn-lg btn-success">Update Password</button>
          </div>
        {{ form_end(form_password) }}
      </div>
      <hr />
      <div class="row">
        <h3 class="col-12">
          Reminder Notifications
        </h3>
        
        {{ form_start(form_notifications, { 'action': path('account_settings'), 'attr': { 'class': 'col-12' } }) }}
          <div class="form-group row justify-content-center">
            <div class="col-md-auto">
              {{ form_widget(form_notifications.reminder_emails, {'attr': {'autocomplete': 'off'} }) }}
              {% if not form_notifications.reminder_emails.vars.valid %}
                <span class="form-text text-danger">{{ form_errors(form_notifications.reminder_emails) }}</span>
              {% endif %}

              <small id="passwordHelp" class="form-text password-help">
                  <strong>Emails will be sent:</strong>
                  <ul>
                      <li><span class="list-text">When each of your sessions unlock</span></li>
                      <li><span class="list-text">The day after your available session has unlocked</span></li>
                      <li><span class="list-text">The day your available session is expiring</span></li>
                  </ul>
              </small>
            </div>
          </div>

          <div class="row justify-content-center">
            <button type="submit" class="col-md-auto btn btn-lg btn-success">Update Notifications</button>
          </div>
        {{ form_end(form_notifications) }}
      </div>
      <hr />
      <div class="row">
        <h3 class="restart">Start Again?</h3>
        <p>
          <a href="{{ path('account_restart') }}" class="btn btn-secondary restart">Reset Stop Smoking Advisor</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}