{% extends '@App/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
    	'@AppBundle/Resources/assets/global/bower/bootstrap-select/dist/css/bootstrap-select.css'
        '@AppBundle/Resources/assets/local/scss/adminLayout.scss'
        '@AppBundle/Resources/assets/local/scss/adminManage.scss'
        filter='cssrewrite' 
        filter='?uglifycss' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    	'@AppBundle/Resources/assets/global/bower/bootstrap-select/dist/js/bootstrap-select.min.js'
        '@AppBundle/Resources/assets/local/js/adminLayout.js'
        '@AppBundle/Resources/assets/local/js/adminManage.js'
        filter='?uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
	{% for flash_message in app.session.flashBag.get('notice') %}
	    <div class="alert alert-success alert-dismissible fade show" role="alert">
	        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	            <span aria-hidden="true">&times;</span>
	        </button>
	        <strong>{{ flash_message }}</strong>
	    </div>
	{% endfor %}
	<table class="container-fluid w-100 h-100 page-container" id="pageContainer">
		<tbody>
			<tr class="top-table-row">
				<td>
					<div class="row no-gutters header-bar">
						<div class="col-12 col-auto align-self-center">
						  <h1 class="ssa-logo">Stop Smoking Advisor</h1>
						</div>
						<div class="col align-self-center">
						  	<select class="selectpicker" data-style="btn-secondary" id="sessionSelect">
								<option value="1">Session 1</option>
								<option value="2">Session 2</option>
								<option value="3">Session 3</option>
								<option value="4">Session 4</option>
								<option value="5">Session 5</option>
								<option value="6">Session 6</option>
							</select>
						</div>
						<div class="col-12 col-auto align-self-center">
							<a href="#" id="logout" class="logout-link">
								Logout
							</a>
						</div>

						<div class="alert alert-success tree-alert" role="alert">
							<span id="targetAction" class="target-action"></span> node by selecting a destination or &nbsp;&nbsp;&nbsp;<a href="#" id="targetCancel" class="btn btn-sm btn-secondary">cancel</a>
						</div>
					</div>
				</td>
			</tr>
			<tr class="bottom-table-row">
				<td class="bottom-tree-area">
					<div class="bottom-tree-container" id="treeContainer"></div>
				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
